
.main-404 h4 {
  
  text-align: center;
  padding-top: 80px; 
  font-size: 20px; 
  color: #aaa;
}

.main-404 h1 {
  
  text-align: center;
  margin-top: 60px;  
  font-size: 40px;
  color: #aaa;
  font-weight: bolder;
}

.no-found {

  margin-top: 150px;  
  text-align: center;
  font-size: 45px; 
  color: #4b4f54;
  font-weight: bolder;
}

.keyword-not-found {

    margin-top: 60px;
    text-align: center;
    font-size: 15px;
    color: #aaa;
}

.search-product {

    margin-top: 60px; 
    text-align: center;
}

.search-valid img {

  width: 24px;
  height: 24px;
  text-align: center;
}

.search-valid {

  padding-bottom: 10px;
  border: none;
  background: none;
  transform: translateX(-50px);
}

.main-404 input  {

  height: 50px;
  width: 50%;
  font-style: italic;
  font-size: 20px;
}
 
.search-div {
  
  background: none;
  opacity: 0.5;
}

.search-div input{
  
  background: none;
  border: 3px solid #aaa;
}

.search-div:hover {
    
  opacity: 1;
}
